<div class="container">
  <div class="content">
    <h1>Where is my country?</h1>
    <span class="description">
      {{ "description" | translate }}
    </span>
    <app-header-search
      [search]="search"
      (searchChangeEvent)="onChangeSearchHandler($event)"
      (updateCountryEvent)="onUpdateCountryHandler($event)"
    ></app-header-search>
    <label>
      <input
        type="checkbox"
        [checked]="zoomOnSearch"
        (change)="onZoomOnSearchUpdated()"
      />
      <span>{{ "zoomOnTheCountry" | translate }}</span>
    </label>
  </div>
</div>
