<div class="search">
  <app-input-autocomplete
    placeholder="{{ 'searchPlaceholder' | translate }}"
    [items]="countries"
    [(value)]="search"
    (valueChange)="onSearchChange($event)"
    (onItemClick)="onItemClickHandler($event)"
    (keydown.enter)="onPressEnterHandler()"
  />
  <button (click)="findButtonHandler()">{{ "find" | translate }}</button>
</div>
<span class="example"
  >{{ "forExample" | translate }},
  <span class="link" (click)="changeSearchToRussia()">{{ "Russian Federation" | translate }}</span></span
>
